### dowser executed at {{ now }} ###

> ike-scan results
VPN endpoint reached: {{ endpoint_reachable }}
VPN endpoint reached using NAT-T: {{ endpoint_reachable_using_nat_t }}

> environment report
// NOT YET IMPLEMENTED
